* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

.center-top {
    background-color: rebeccapurple;
    width: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.center {
    background-color: rebeccapurple;
    width: 300px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 50%);
}

.center-bottom {
    background-color: rebeccapurple;
    width: 300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}